.board {
    display: flex;
    flex-direction: column;
    border: 2px solid #333;
    width: 100vmin;
    height: 100min;
    max-width: 100vmin;
    max-height: 100vmin;
    aspect-ratio: 1;
  }
  
  .row {
    display: flex;
    height: calc(100% / 8);
  }
  
  .tile {
    width: calc(100% / 8);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &.white {
      background-color: #f0d9b5;
    }
  
    &.black {
      background-color: #b58863;
    }

    &.active {
      background-color: #ffeb3b;
    }
  
    .piece {
      width: 80%;
      height: 80%;
      pointer-events: none;
      user-select: none;
    }

    .dot {
      height: 7vmin;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background-color: rgba(0, 0, 0,0.5);
      position: absolute;
    }
  }
  

    .grid-container {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(8, 1fr);
      width: 100vmax;
      height: 100vmax;
      max-width: 100vw;
      max-height: 100vh;
      aspect-ratio: 1;
    }

    .grid-container > div {
      border: 1px solid #ccc;
      background-color: white;
    }