<div class="board">
    <div *ngFor="let row of game.board; let rowIndex = index" class="row">
      <div
        *ngFor="let tile of row; let colIndex = index"
        class="tile"
        [ngClass]="getTileClass(rowIndex, colIndex)"
        (click)="activateTile(rowIndex, colIndex)"

      >
        <img
          *ngIf="getImagePath(rowIndex, colIndex)"
          [src]="getImagePath(rowIndex, colIndex)!"
          alt=""
          class="piece"
        />
        <div
        *ngIf="isValidMove(rowIndex, colIndex)"
        class="dot"
      ></div>
      </div>
    </div>
  </div>
  